.footer-section {
  background-color: #2b3a48; 
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-heading {
  white-space: nowrap; 
  letter-spacing: 2px; 
}

.footer-heading span.text-red-500 {
  color: #ff3d47;
}

.footer-subtext {
  color: #fff;
  font-size: 1.25rem; 
  font-weight: 300;
}

.social-icons .social-icon {
  width: 50px; 
  transition: transform 0.3s ease;
}

.social-icons .social-icon:hover {
  transform: scale(1.2); 
}

.social-icons a img {
  filter: grayscale(1); 
  transition: filter 0.3s ease;
}

.social-icons a:hover img {
  filter: grayscale(0); 
}

#footer p {
  color: #b0b0b0;
  font-size: 0.875rem; 
  margin-top: 1rem;
}
